.package-view {
  grid-area: data;
  padding: 0 20px;
}

.info {
  grid-area: info;
  padding: 0 20px;
}

.package-view > ul {
  background-color: #cccccc !important;
}

.clickable {
  text-decoration: underline;
  cursor: pointer;
}

.comment {
  color: black;
  font-style: italic;
  opacity: 0.35;
}

.packageVersion {
  color: black;
}

.outdated_major {
  color: red;
  font-weight: bold;
  font-style: normal;
}

.outdated_minor {
  color: orange;
  font-weight: bold;
  font-style: normal;
}

.outdated_patch {
  color: yellow;
  font-weight: bold;
  font-style: normal;
}

.ok {
  color: #a7c957;
  font-weight: bold;
  font-style: normal;
}

.closer {
  cursor: pointer;
  float: right;
  margin-top: -50px;
  margin-right: 10px;
}
